{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

{%load crispy_forms_tags %}

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="row mb-5">
        <div class="col-md-8 offset-md-2 mb-3">
            <h1 class="text-center">{% trans "Login" %}</h1>
        </div>
        <div class="account-form bg-light col-md-8 offset-md-2">

            <h4 class="text-center mt-2">
                {% trans "Welcome back to Reach.<br>We hope your adventures were a success." %}
            </h4>

            <form class="login col-12 pb-2" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn btn-success col-12" type="submit">{% trans "Login" %}</button>
            </form>
                <a href="{% url 'account_reset_password' %}" class="text-center border-bottom border-primary col-12 col-md-9 pb-3">
                    Forgot Password
                </a>
            <h5 class="mt-3 text-center">
                {% blocktrans %}Want to join the community?
            </h5>
            <a href="{{ signup_url }}" class="m-sm-3 col-12 btn btn-secondary">
                Signup
            </a>
            {% endblocktrans %}
        </div>
    </div>
</div>

{% endblock %}