{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

{%load crispy_forms_tags %}

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="row mb-5">
        <div class="col-md-8 offset-md-2 mb-3">
            <h1 class="text-center">{% trans "Logout" %}</h1>
        </div>
        <div class="account-form bg-light col-md-8 offset-md-2">

            <h4 class="text-center mt-2">
                {% trans "Are you sure you want to Logout?" %}
            </h4>
            <form class="login col-8 pb-3" method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="primaryAction btn btn-outline-danger col-12 mt-3" type="submit">{% trans 'Sign Out' %}</button>
                <a class="primaryAction btn col-12 mt-2" href="{% url 'home' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}