@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&family=Poppins:wght@100;300;400;500;600&display=swap');

/* Google Fonts */

/* 
font-family: 'Lato', sans-serif; 100 400 700
font-family: 'Poppins', sans-serif; 100 300 400 500 600
*/

/* Palette */

/* 
rgba(185, 194, 216, 1) (light-blue-grey)
rgba(142, 153, 183, 1) (faded-blue)
rgba(72, 85, 102, 1) (faded-dark-blue)
rgba(144, 173, 220, 1) (light-lue)
rgba(187, 212, 229, 1) (sky-blue)
rgba(250,236,50,255) (vibrant-yellow)
rgba(245,177,62,255) (#f5b13e) (soft-orange)
rgba(250,218,77,221) (soft-yellow)

Logo Colors:

#2596be light teal
*/

/* Utils */

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
    color: #2596be;
    letter-spacing: 2px;
}

h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

/* Navbar and Logo */

#logo {
    max-height: 75px;
}

#signup_button {
    border: 2px solid #41ccff;
    padding: 5px;
}

.navbar {
    border-bottom: 2px solid black;
}

/* Header Images */

#head-img-wrapper {
    overflow: hidden;
    height: 685px;
}

#head-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#head-btns {
    top: 75%;
    left: 50%;
}

#head-sign-up-btn {
    border: 2px solid #2596be;
}

#head-sign-up-btn:hover {
    border-color: #41ccff;
    transition: 0.2s;
}

/* Footer */

footer {
    height: 120px;
    border-top: 2px solid black;
}

footer a {
    padding: 0 5px;
    font-size: 1.5em;
    color: black;
    text-decoration: none;
}

#footer-nav {
    font-size: 0.6em;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Reports List */

.img-thumbnail {
    width: 100px;
}

/* Overall_Conditions */

.fa-star {
    color: #2596be;
}

.fa-circle-check {
    color: rgb(68, 186, 68);
}

.fa-circle-exclamation {
    color: rgb(250, 218, 77);
}

.fa-circle-xmark {
    color: rgb(177, 65, 65);
}

/* Report Details */

/* #report-info-wrapper {
    width: 80%;
    padding: 10px;
}

.report-info {
    margin: 0;
}

.report-info-item {
    width: 75%;
    border-bottom: 1px solid #2596be;
    margin: 0;
    padding: 5px 0;
}

.report-info-item:last-child {
    border-bottom: none;
} */

.report-img {
    width: 100px;
    height: 100px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    border: 1px solid #2596be;
    border-radius: 5px;
}

.report-img img {
    height: 100%;
    width: auto;
    object-fit: cover;
}