@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Poppins:wght@100;300;400;500;600&display=swap');

/* Utils */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
    color: #2596be;
    letter-spacing: 2px;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-weight: 300;
}

h5 {
    font-weight: 400;
}

h6 {
    font-weight: 100;
    font-size: 1.5em;
}

p {
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #40cdff;
}

#messages {
    position: relative;
}

#msg {
    position: absolute;
    z-index: 1;
}

/* Navbar and Logo */

#logo {
    max-height: 75px;
}

.signup_button {
    border: 2px solid #ffffff;
    padding: 5px;
}

.signup_button:hover {
    border: 2px solid #ffffff;
    background-color: #3f97be;
    color: #ffffff;
    transition: 0.3s;
}

.navbar {
    background-color: #2a3344;
    border-bottom: 2px solid #ffffff;
}

.nav-item a {
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}

#username_dropdown {
    color: #40cdff;
}

.dropdown .dropdown-menu {
    border: 2px solid #2596be;
}

.dropdown .dropdown-menu>li>a {
    color: #2a3344;
}

/* Header Images */

#head-img-wrapper {
    overflow: hidden;
    height: 87vh;
}

#head-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#head-quote {
    top: 10%;
    left: 50%;
    text-align: center;
    border-radius: 5px;
    background-color: #f6f6f669;
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

#head-btns {
    top: 75%;
    left: 50%;
}

#head-btns a {
    font-weight: 700;
    border-radius: 20px;
    border: 1px solid black;
}

.signup-main {
    background-color: #2a3344;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
}

.signup-main:hover {
    background-color: #205577;
    color: whitesmoke;
    border: 1px solid black;
}

/* Footer */

footer {
    height: 150px;
    background-color: #2a3344;
    border-top: 1px solid #191919;
    margin-top: auto;
}

footer h5 {
    color: #bdbdbd;
}

.email {
    color: #ffffff;
}

footer a {
    padding: 0 5px;
    font-size: 1.5em;
    color: #d0cfcf;
    text-decoration: none;
}

#footer-nav {
    font-size: 0.6em;
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer-nav li a {
    padding: 0;
}

.safety_message {
    font-size: 0.75em;
    color: #eeeeee;
}

/* Reports List */

.img-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover
}

.img-num {
    place-self: flex-end;
    margin: 0;
}

.report-list-title {
    color: #2596be;
}

label {
    font-family: 'Lato', sans-serif;
}

.filter {
    border: 1px solid #2596be;
    border-radius: 5px;
}

/* Overall_Conditions */

.fa-star {
    color: #2596be;
}

.fa-circle-check {
    color: rgb(68, 186, 68);
}

.fa-circle-exclamation {
    color: rgb(250, 218, 77);
}

.fa-circle-xmark {
    color: rgb(177, 65, 65);
}

/* Report Details */

.back-button {
    color: #2596be;
}

.back-button i {
    font-size: 2em;
}

.info-label {
    margin: 0 0 3px 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.7em;
}

.info-item {
    text-align: center;
    margin: 0 5px 3px 5px;
}

#report-description {
    text-align: start;
    margin: 0 5px 3px 5px;
}

.report-img {
    width: 100px;
    height: 100px;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px 5px 0 0;
    border: 1px solid #2596be;
    border-radius: 5px;
    object-fit: cover;
}

.report-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#close-img-btn {
    border-color: #2596be;
}

#liked {
    color: #2596be;
}

/* Comments */

#comments-title {
    border-bottom: 4px solid #2596be;
}

/* Account */

.account-form {
    border: 2px solid rgba(37, 149, 190, 0.463);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -2px 15px 53px -3px rgba(29, 49, 107, 0.82);
    -webkit-box-shadow: -2px 15px 53px -3px rgba(29, 49, 107, 0.82);
    -moz-box-shadow: -2px 15px 53px -3px rgba(29, 49, 107, 0.82);
}

.ud-btn:hover {
    text-decoration: underline;
}

/* Create Report Form */

.upload {
    padding: 6px;
    background-color: white;
    border: 1px solid #dfdede;
    margin-top: 2.5px;
}

.errorlist {
    list-style: none;
    color: red;
}

.error ul,
.error p {
    margin: 8px 0 0 0;
}

.error p {
    color: red;
}

.fatmap-help {
    border-color: #2596be;
}

/* Media Queries */

/* L screens, Bootstrap <large breakpoint */
@media screen and (max-width: 992px) {

    #reports-list-create-btn {
        font-size: 0.9em;
    }

}

/* M screens, Tablets, Bootstrap <medium breakpoint */
@media screen and (max-width: 768px) {

    h1 {
        font-size: 2.5em;
    }

    #logo {
        height: 60px;
    }

    #sociallinks>h5,
    #footer-nav-title,
    .contact>h5 {
        font-size: 15px;
    }

    #sociallinks,
    #footer-nav li,
    .report-list-item,
    #list-key {
        font-size: 0.75em;
    }

    /* Reports */

    .report-list-item h4,
    .account_report_title a h5 {
        font-size: 1.5em;
    }

    .img-thumbnail {
        width: 75px;
        height: 75px;
    }

}

/* S screens, mobiles, Bootstrap <small breakpoint */
@media screen and (max-width: 576px) {

    .nav-item a {
        text-align: center;
    }

    #head-img-wrapper {
        height: 571px;
    }

    #head-quote {
        border-radius: 0;
        background-color: #8ca9c9;
        font-size: 0.9em;
    }

    footer {
        height: fit-content;
        padding: 10px;
    }

    #sociallinks>div {
        display: inline-flex;
    }

    /* Reports */

    #filters a,
    #filter-forms {
        font-size: 0.85em;
    }

    .report-list-item,
    #list-key {
        font-size: 0.7em;
    }

    .report-list-item h4 {
        font-size: 1.2em;
    }

    .img-thumbnail {
        width: 65px;
        height: 65px;
    }

    .img-num {
        display: none;
    }

    #date_published,
    .fatmap-help {
        font-size: 0.75em;
    }

    /* Report forms */

    .report_img_wrapper {
        width: auto;
    }

    /* Email Updates */

    .email-status {
        display: inline;
        float: right;
    }

    #inactive-account h5 {
        font-size: 1.1em;
    }

}

/* XS screens, mainly for logo */
@media screen and (max-width: 366px) {

    h1 {
        font-size: 1.75em;
    }

    #logo {
        height: 45px;
    }

    #nav-pos {
        padding: 0;
    }

    .navbar-brand {
        margin: auto;
    }

    .navbar-toggler {
        margin: auto;
    }

    #head-img-wrapper {
        height: 540px;
    }

    #head-quote {
        display: none;
    }

    #head-btns {
        width: 100%;
    }

    #head-btns a {
        border-radius: 0;
        border-left: 0;
        border-right: 0;
    }

    /* Reports */

    .sort {
        text-align: end;
        font-size: 0.9em;
    }

    .report-list-item {
        font-size: 0.65em;
    }

    #filter-forms form {
        font-size: 0.9em;
    }

    .report-list-item .list_image,
    .list-key .camera,
    #status {
        display: none;
    }

    .report-img {
        width: 75px;
        height: 75px;
    }

    .counter {
        display: none;
    }

    #report-title {
        font-size: 0.75em;
    }

    #map {
        display: none;
    }

    /* Create Report */

    #create_form,
    #create_form div input,
    #create_form div select {
        font-size: 0.7em;
    }

    .error ul {
        padding: 0;
    }

    /* Email Updates */

    .email-status {
        width: 100%;
    }

}

/* XXS screens */
@media screen and (max-width: 250px) {

    #filter-forms {
        flex-wrap: wrap;
    }

    #filter-forms>div {
        margin-bottom: 5px;
    }

}