{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid pt-3">
    <div class="row text-center d-flex flex-column align-items-center">
        <h1 class="mb-3">Create New Report</h1>
        <h3 class="col-12 col-md-9 col-lg-6 m-0 text-start">Creating report as: <span
                class="text-secondary">{{ user.username }}</span>
        </h3>
        <div class="error">
            {% if report_form.non_field_errors %}
            {{ report_form.non_field_errors }}
            {% endif %}
        </div>
        {% if report_form.errors %}
        <div class="error">
            <p>Invalid Input: Please alter the highlighted fields accordingly.</p>
        </div>
        {% endif %}
    </div>
</div>
<div class="container-fluid d-flex justify-content-center p-0 pb-3 p-sm-3">
    <div class="row col-12 col-md-9 col-lg-6 bg-light rounded pt-2 p-sm-3 mb-3">
        <form id="create_form" class="text-start pb-3" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row col-12 justify-content-center justify-content-sm-start g-2">
                <div class="col-12 col-md-8">
                    {{ report_form.title|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.goal_reached|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4 col-md-6">
                    {{ report_form.start_date|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4 col-md-6">
                    {{ report_form.end_date|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.overall_conditions|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.activity_category|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.height_in_meters|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.number_in_group|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.number_on_route|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.time_taken|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ report_form.description|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-6">
                    <label for="upload"><i class="fa-solid fa-camera"></i> Upload Images: <span class="text-danger">Max
                            Total 12</span></label>
                    <br>
                    <input class="btn button" id="upload" type="file" name="images" multiple>
                </div>
                <div class="col-12 col-sm-6">
                    <label class="pb-2" for="{{ report_form.gps_map_link.id_for_label }}">
                        <a class="btn p-0" data-bs-toggle="collapse" href="#fatmapcollapse" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-circle-info"></i> Fatmap.com url
                        </a>
                        {{ report_form.gps_map_link.label_tag }}
                    </label>
                    {{ report_form.gps_map_link|as_crispy_field }}
                    <div class="collapse" id="fatmapcollapse">
                        <div class="fatmap-help card card-body">
                            <h5><strong>Add an interactive 3D map to your report.</strong></h5>
                            <p>
                                Go to <a class="text-primary" href="https://fatmap.com/" target="_blank">fatmap.com</a> to create an adventure. Then copy the url and paste it in above.
                                <br>
                                <strong>For more instructions go to:</strong>
                                <br>
                                <a class="text-primary" href="https://about.fatmap.com/journal-digest/how-to-share-adventures" target="_blank">
                                    fatmap.com/how-to-share-adventures</a>
                                <br>
                                <strong>Example url:</strong>
                                <br>
                                'https://fatmap.com/routeid/2907789/eiger-heckmair?fmid=cp'
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    {{ report_form.status|as_crispy_field }}
                </div>
                <div class="col-12 d-flex flex-row justify-content-center">
                    <input class="col-12 btn btn-success" type="submit" value="Create Report">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}