{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid p-3">
    <div class="row text-center d-flex flex-column align-items-center">
        <h1 class="mb-3">Create New Report</h1>
        <h3 class="w-75 m-0 text-start">Creating report as: <span class="text-secondary">{{ user.username }}</span></h3>
    </div>
</div>

<div class="container-fluid d-flex justify-content-center">
    <div class="row w-75 bg-light rounded p-3 mb-3">

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">

                <div class="container text-start">
                    <div class="row g-2">
                        <div class="col-8">
                            {{ edit_form.title|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ edit_form.goal_reached|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ edit_form.start_date|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ edit_form.end_date|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ edit_form.overall_conditions|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ edit_form.activity_category|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ edit_form.height_in_meters|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ edit_form.number_in_group|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ edit_form.number_on_route|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ edit_form.time_taken|as_crispy_field }}
                        </div>
                        <div class="col-12">
                            {{ edit_form.description|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            <label for="upload"><i class="fa-solid fa-camera"></i> Uploaded Images:</label>
                            <br>
                            <!-- images need to loop and display an editable field -->
                            {{ edit_form.images|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ edit_form.gps_map_link|as_crispy_field }}
                        </div>
                        <!-- <div class="col-12 d-flex flex-row justify-content-center">
                            <input class="btn btn-success" type="submit" value="Update Report">
                        </div> -->
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock %}