{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container-fluid pt-3">
    <div class="row text-center d-flex flex-column align-items-center">
        <h1 class="mb-3">Edit Report</h1>
        <h3 class="col-12 col-md-9 col-lg-6 m-0 text-start">
            Editing report as: <span class="text-secondary">{{ user.username }}</span>
        </h3>
        <div class="error">
            {% if edit_form.non_field_errors %}
            {{ edit_form.non_field_errors }}
            {% endif %}
        </div>
        {% if edit_form.errors %}
        <div class="error">
            <p>Invalid Input: Please alter the highlighted fields accordingly.</p>
        </div>
        {% endif %}
    </div>
</div>

<div class="container-fluid d-flex justify-content-center p-0 pb-3 p-sm-3">
    <div class="row col-12 col-md-9 col-lg-6 bg-light rounded pt-2 p-sm-3 mb-3">

        <form method="POST" class="text-start pb-3" action="" enctype="multipart/form-data" id="edit-report-form">
            {% csrf_token %}
            <div class="row col-12 justify-content-center justify-content-sm-start g-2">
                <div class="col-12 col-sm-8">
                    {{ edit_form.title|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.goal_reached|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-6">
                    {{ edit_form.start_date|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-6">
                    {{ edit_form.end_date|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.overall_conditions|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.activity_category|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.height_in_meters|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.number_in_group|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.number_on_route|as_crispy_field }}
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.time_taken|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ edit_form.description|as_crispy_field }}
                </div>
                <div class="col-12">
                    <div class="row">
                        {% for image in images %}
                        <div class="report_img_wrapper col-sm-3 col-xxl-2">
                            <img class="report-img" src="{{ image.image_file.url }}" alt="Image" height="100">
                            <!-- Delete Image -->
                            <p class="text-secondary d-inline">Delete</p>
                            <input type="checkbox" name="delete_image_{{ image.id }}" data-marked-for-deletion>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- add image -->
                    <div class="col-12 mt-2">
                        <label for="upload"><i class="fa-solid fa-camera"></i> Upload More Images: <span
                                class="text-danger">Max Total 12</span></label>
                        <input class="btn" id="upload" type="file" name="images" accept="image/*" multiple>
                    </div>
                </div>
                <div class="col-12">
                    <label class="pb-2" for="{{ report_form.gps_map_link.id_for_label }}">
                        <a class="btn p-0" data-bs-toggle="collapse" href="#fatmapcollapse" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            <i class="fa-solid fa-circle-info"></i> Fatmap.com url
                        </a>
                        {{ edit_form.gps_map_link.label_tag }}
                    </label>
                    {{ edit_form.gps_map_link|as_crispy_field }}
                    <div class="collapse" id="fatmapcollapse">
                        <div class="fatmap-help card card-body">
                            <h5><strong>Add an interactive 3D map to your report.</strong></h5>
                            <p>
                                Go to <a class="text-primary" href="https://fatmap.com/" target="_blank">fatmap.com</a> to create an adventure. Then copy the url and paste it in above.
                                <br>
                                <strong>For more instructions go to:</strong>
                                <br>
                                <a class="text-primary" href="https://about.fatmap.com/journal-digest/how-to-share-adventures" target="_blank">
                                    fatmap.com/how-to-share-adventures</a>
                                <br>
                                <strong>Example url:</strong>
                                <br>
                                'https://fatmap.com/routeid/2907789/eiger-heckmair?fmid=cp'
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-4">
                    {{ edit_form.status|as_crispy_field }}
                </div>
                <!-- Modal -->
                <div class="modal" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmationModalLabel">Confirm Deletion</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete the selected images? This action cannot be
                                undone.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" onclick="submitForm()">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Submit -->
                <div class="col-12 d-flex flex-row justify-content-center">
                    <button type="button" class="col-12 btn btn-success" onclick="showConfirmationModal()">
                        Update Report
                    </button>
                </div>
            </div>
            <input type="hidden" name="confirm-deletion" id="confirm-deletion" value="false">
        </form>
    </div>
</div>

{% endblock %}