{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- Title -->
<div class="container-fluid p-3 mb-5">
    <div class="row text-center">
        <h1>Condition Reports</h1>
        <h6>Written by climbers for climbers.</h6>
    </div>
</div>

<!-- Reports -->

<div class="container-fluid col-11 col-sm-10 col-md-9 p-0">

    <!-- Filters -->

    <div id="filters"
        class="d-flex flex-column-reverse flex-sm-row justify-content-sm-between pb-2 pb-sm-4 border-bottom border-3">
        <div id="filter-forms"
            class="col-12 col-sm-6 col-md-8 d-flex flex-row justify-content-evenly mt-3 mt-sm-0 justify-content-sm-start text-start d-flex p-0">
            <div class="d-flex align-items-end me-sm-2 me-sm-2">
                <form id="gradeFilterForm" method="get">
                    <label for="grade">Grade Filter</label>
                    <select class="filter" name="grade" onchange="this.form.submit()">
                        <option value="">----</option>
                        <option value="all">All</option>
                        <option value="bad">Bad</option>
                        <option value="ok">OK</option>
                        <option value="good">Good</option>
                        <option value="perfect">Perfect</option>
                    </select>
                </form>
            </div>
            <div class="d-flex align-items-end">
                <form id="filterForm" method="get">
                    <label for="activity">Activity Filter</label>
                    <select class="filter" name="activity" onchange="this.form.submit()">
                        <option value="">----</option>
                        <option value="all">All</option>
                        <option value="alpine">Alpine</option>
                        <option value="hike">Hike</option>
                        <option value="skitour">Ski Tour</option>
                        <option value="iceclimbing">Ice Climbing</option>
                        <option value="multipitch">Mulitpitch</option>
                        <option value="trad">Trad</option>
                        <option value="solo">Solo</option>
                        <option value="other">Other</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-end justify-content-end ms-sm-2 p-0">
            {% if user.is_authenticated %}
            <a href="{% url 'create_report' %}" class="btn btn-success col-12">Create New Report</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-success col-12">Login To Create Reports</a>
            {% endif %}
        </div>
    </div>

    <!-- List Key -->
    <div class="list-key row text-center justify-content-evenly text-muted pt-3">
        <div class="camera col-3">
            <i class="fa-solid fa-camera"></i>
        </div>
        <div class="col-4 col-sm-3">
            <p><i class="fa-solid fa-route"></i></p>
        </div>
        <div class="col-2 col-sm-3">
            <p><i class="fa-solid fa-cloud-sun-rain"></i></p>
        </div>
        <div class="col-3">
            <p><i class="fa-solid fa-calendar-days"></i></p>
        </div>
    </div>

    <!-- Reports Objects -->
    <div class="row">

        {% for report in report_list %}
        <a href="{% url 'report_details' report.pk  %}" class="report-list-item d-flex justify-content-evenly p-1 btn btn-light mb-2">

            <!-- Images -->
            <div class="list_image d-sm-flex col-3 align-items-center justify-content-center">
                {% if report.images.count > 0 %}
                <!-- Images are uploaded for the report -->
                {% for image_file in report.images.all %}
                {% if forloop.first %}
                <img src="{{ image_file.image_file.url }}" alt="{{ report.title }}" class="img-thumbnail">
                {% endif %}
                {% endfor %}
                {% else %}
                <!-- No images available in report -->
                <img src="{% static 'images/no-images.png' %}" alt="No images available" class="img-thumbnail">
                {% endif %}
                <p class="img-num text-secondary">{{ report.images.all.count }}</p>
            </div>
            <!-- Title -->
            <div class="col-4 col-sm-3 text-start">
                <h4 class="report-list-title mt-2 mb-2">{{ report.title }}</h4>
                <p class="m-0">{{ report.activity_category|title }}</p>
                <p class="mb-2"><span class="text-secondary">Goal achieved:</span>
                    {% if report.goal_reached == "yes" %}
                    <i class="fa-solid fa-circle-check text-success"></i>
                    {% else %}
                    <i class="fa-solid fa-ban text-danger"></i>
                    {% endif %}
                    {{ report.goal_reached|title }}</p>
            </div>
            <!-- Overall Conditions -->
            <div class="d-flex flex-column align-items-center justify-content-center col-2 col-sm-3">
                {% if report.overall_conditions == "perfect" %}
                <i class="fa-solid fa-star"></i>
                {% elif report.overall_conditions == "good" %}
                <i class="fa-solid fa-circle-check"></i>
                {% elif report.overall_conditions == "ok" %}
                <i class="fa-solid fa-circle-exclamation"></i>
                {% else %}
                <i class="fa-solid fa-circle-xmark"></i>
                {% endif %}
                {{ report.overall_conditions }}
            </div>
            <!-- Author Activity Date -->
            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                <p>{{ report.start_date }}</p>
                <p><i class="fa-solid fa-user-pen"></i> {{ report.author }}</p>
            </div>
        </a>
        {% endfor %}

    </div>

    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="btn page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="btn page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>

{% endblock %}