{% extends 'base.html' %}

{% load static %}

{% block content %}

{%load crispy_forms_tags %} 

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="row w-75 mb-5">
        <div class="col-md-8 offset-md-2 mb-3">
            <h1 class="text-center">Update Account Details</h1>
        </div>
        <div class="account-form bg-light col-md-8 offset-md-2">
            <h4 class="text-center mt-2">
                Edit account details for {{ user.username }}.
            </h4>
            <form class="text-center w-75 m-2 p-3" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn signup_button border-none w-75">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}