{% extends 'base.html' %}

{% load static %}

{% block content %}

{%load crispy_forms_tags %} 

<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="row mb-5">
        <div class="col-md-8 offset-md-2 mb-3">
            <h1 class="text-center">Update Account Details</h1>
        </div>
        <div class="account-form bg-light col-md-8 offset-md-2">

            <h4 class="text-center mt-2">
                Edit account details for {{ user.username }}.
            </h4>
            <form class="login d-sm-flex flex-column align-items-center col-12 col-sm-9 border-bottom border-primary pb-3" method="POST" action="{% url 'update_account' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="primaryAction btn signup_button col-6" type="submit">Update Username</button>
            </form>
            <h4 class="text-center mt-3">Account Management</h4>
            <div class="col-12 d-sm-flex justify-content-center">
                <a href="{% url 'account_email' %}" class="m-2 col-9 col-sm-6 col-lg-4 btn btn-outline-dark">
                    Manage Email Accounts
                </a>
                <a href="{% url 'account_change_password' %}" class="m-2 col-9 col-sm-6 col-lg-4 btn btn-outline-dark">
                    Change Account Password
                </a>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}